:root {
  --clr-blue: hsl(216, 95%, 58%);
  --clr-blue-shade: hsl(216, 100%, 61%);
  --clr-dark-navy: hsl(218, 44%, 22%);
  --clr-grey: hsl(220, 15%, 55%);
  --clr-light-grey: hsl(212, 45%, 89%);
  --clr-white: hsl(0, 0%, 100%);

  --ff: 'Outfit', sans-serif;

  --fs-heading: 1.375rem;
  --fs-body: 0.9375rem;
}
